<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="connection.url">jdbc:postgresql://194.164.33.111:5432/382_zhuravlyov_A_V</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">382</property>
        <property name="connection.password">uiop382</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgresPlusDialect</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>  <!--кэш-->
        <property name="hibernate.cache.region_prefix.factory_class">org.hibernate.cache.jcache.internal.JCacheRegionFactory</property> <!--кэш-->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property>-->


        <mapping class="by.leha.entity.client.Client"/>
        <mapping class="by.leha.entity.login.Login"/>
        <mapping class="by.leha.entity.role.Role"/>
        <mapping class="by.leha.entity.booking.Booking"/>
        <mapping class="by.leha.entity.room.Room"/>
        <!-- DB schema will be updated if needed -->
    </session-factory>

</hibernate-configuration>
